.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: poppins, sans-serif;
  }
  
.container textarea{
    outline: none;
}

.container h3{
   /*  background-color: red; */
    width: 100%;
    color: red;
    font-weight: bold;
}

  h1 {
    text-align: center;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

.stats span{
    font-weight: bold;
}

 @media screen and (max-width:768px){
    .stats{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
 }

  .stats p{
    margin-right: 20px;
  }
  
  .replace-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .replace-section input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  